


<app-header></app-header>


<!-- start header section -->
<div class="search-header text-center">
    <h3>Life is an event. Make it memorable</h3>
    <h5>with farah !</h5>
    <div class="container">
        <div class="basic-fillter-form">
          <h5 class="mb-3">What you are looking for?</h5>
  
          <form>
            <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-12">
                <input type="text" class="form-control" placeholder="Enter you key search.." required="true" autofocus="true">
              </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                  <select  class="form-control">
                    <option>khartoum</option>
                    <option>Port sudan</option>
                    <option>Dongola</option>
                    <option>Kasala</option>
                    <option>Halfa</option>
                  </select>
              </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                <input type="date" class="form-control">
              </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                <input type="submit" value="Find" class=" form-control btn btn-warning">
              </div>
            </div>
          </form>
        
        </div>
      </div>
  </div>
  <!-- end header section -->
<!-- Start Hot offer section -->
<div class="advanced-fillter">

    <h4 class="text-center"> 
      <i class="fa fa-spinner text-warning"></i> 
      14 results found in “Khartoum”
    </h4>
  
  <div class="container">
  <div class="row mt-5">
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="fillter">
        <h5>Advanced fillter</h5>
        <form>
          <div class="row">
            <div class="col-12">
              <select  class="form-control" id="services">
                <option>Choose service</option>
                <option>Weddinng halls</option>
                <option>Cars</option>
                <!-- start header section -->
                <div class="search-header text-center">
                  <h3>Life is an event. Make it memorable</h3>
                  <h5>with farah !</h5>
                  <div class="container">
                      <div class="basic-fillter-form">
                        <h5 class="mb-3">What you are looking for?</h5>
                
                        <form>
                          <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12">
                              <input type="text" class="form-control" placeholder="Enter you key search.." required="true" autofocus="true">
                            </div>
                              <div class="col-lg-3 col-md-3 col-sm-12">
                                <select  class="form-control">
                                  <option>khartoum</option>
                                  <option>Port sudan</option>
                                  <option>Dongola</option>
                                  <option>Kasala</option>
                                  <option>Halfa</option>
                                </select>
                            </div>
                              <div class="col-lg-3 col-md-3 col-sm-12">
                              <input type="date" class="form-control">
                            </div>
                              <div class="col-lg-3 col-md-3 col-sm-12">
                              <input type="submit" value="Find" class=" form-control btn btn-warning">
                            </div>
                          </div>
                        </form>
                      
                      </div>
                    </div>
                </div>
                <!-- end header section -->
                <option>Flowers & gifts</option>
              </select>
          </div>
          <div class="col-12">
            <select  class="form-control" id="states">
                <option>Choose state</option>
                <option>khartoum</option>
              <option>Red Sea</option>
              <option>Northan state</option>
              <option>Kasala</option>
              <option>White nile</option>
            </select>
        </div>
            <div class="col-12">
              <select  class="form-control">
                <option>Choose city</option>
                <option>khartoum</option>
                <option>Port sudan</option>
                <option>Dongola</option>
                <option>Kasala</option>
                <option>Halfa</option>
              </select>
          </div>
              <div class="col-12">
                <select  class="form-control">
                <option>Choose area</option>
                <option>Khartoum 2</option>
                  <option>Shambat</option>
                  <option>Kaforee</option>
                  <option>Amarat</option>
                  <option>Balabel</option>
                </select>
            </div>
            <div class="col-12">
              <select  class="form-control" id="area">
              <option>Choose ratting</option>
              <option> +5 </option>
                <option> +4 </option>
                <option> +3 </option>
                <option> +2 </option>
                <option> +1 </option>
              </select>
          </div>
          <div class="col-12">
          <label for="price">Price range</label>
          <input type="range" class="custom-range" min="0" max="5" id="priceRange">
          </div>
              <div class="col-12">
              <input type="submit" value="Fillter" class=" form-control btn btn-warning">
            </div>
          </div>
        </form>
      </div>
    </div>
  
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="top-ratted">
        <h5 class="mt-2">Top ratted</h5>
        <div class="row">
          <div class="col-lg-4">
            <div class="offer-card">
              <img src="assets/dist/images/s3.png" alt="offer-card">
              <div class="background-overlay"></div>
              <div class="offer-content">
              <p class="service-provider-name">Golden Hall For Exhibits </p>
              <div class="ratting">
                <p>Ratting</p>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star"></i>
                <span>4/5</span>
                <a href="#" class="offer-btn">Details</a>
            </div>
          </div>
          </div>
          </div>
          <div class="col-lg-4">
            <div class="offer-card">
              <img src="assets/dist/images/s3.png" alt="offer-card">
              <div class="background-overlay"></div>
              <div class="offer-content">
              <p class="service-provider-name">Golden Hall For Exhibits </p>
              <div class="ratting">
                <p>Ratting</p>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star"></i>
                <span>4/5</span>
                <a href="#" class="offer-btn">Details</a>
            </div>
          </div>
          </div>
          </div>
          <div class="col-lg-4">
            <div class="offer-card">
              <img src="assets/dist/images/s3.png" alt="offer-card">
              <div class="background-overlay"></div>
              <div class="offer-content">
              <p class="service-provider-name">Golden Hall For Exhibits </p>
              <div class="ratting">
                <p>Ratting</p>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star marked"></i>
                <i class="fa fa-star"></i>
                <span>4/5</span>
                <a href="#" class="offer-btn">Details</a>
            </div>
          </div>
          </div>
          </div>
        </div>
      </div> <!-- end top ratted -->
  
      <div class="row search-results mt-5"> <!--  start the results -->
        <div class="col-lg-2 col-md-2 col-sm-12">
          <img src="assets/dist/images/sp-logo.png" alt="sp logo" class="sp-logo">
          <p class="price-lable text-center">80,000 SDG</p>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <h5><a href="#">New Star Wedding Hall </a></h5>
          <p class="ratting"> Ratting 
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star"></i>
          <span>4/5</span>
          </p>
          <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard </p>
          <i class="fa fa-tag"></i> <a href="#">Wedding Halls</a>
          <p><i class="fa fa-map"></i> Khartoum, Bahry, Shambat <span>|</span> <i class="fa fa-phone"></i> +249901726436</p>
          <a href="#" class="result-btn float-right">Details</a>
        </div>
      </div>
  
      <div class="row search-results"> <!--  start the results -->
        <div class="col-lg-2 col-md-2 col-sm-12">
          <img src="assets/dist/images/sp-logo.png" alt="sp logo" class="sp-logo">
          <p class="price-lable text-center">80,000 SDG</p>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <h5><a href="#">New Star Wedding Hall </a></h5>
          <p class="ratting"> Ratting 
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star"></i>
          <span>4/5</span>
          </p>
          <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard </p>
          <i class="fa fa-tag"></i> <a href="#">Wedding Halls</a>
          <p><i class="fa fa-map"></i> Khartoum, Bahry, Shambat <span>|</span> <i class="fa fa-phone"></i> +249901726436</p>
          <a href="#" class="result-btn float-right">Details</a>
        </div>
      </div>
  
      <div class="row search-results"> <!--  start the results -->
        <div class="col-lg-2 col-md-2 col-sm-12">
          <img src="assets/dist/images/sp-logo.png" alt="sp logo" class="sp-logo">
          <p class="price-lable text-center">80,000 SDG</p>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <h5><a href="#">New Star Wedding Hall </a></h5>
          <p class="ratting"> Ratting 
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star"></i>
          <span>4/5</span>
          </p>
          <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard </p>
          <i class="fa fa-tag"></i> <a href="#">Wedding Halls</a>
          <p><i class="fa fa-map"></i> Khartoum, Bahry, Shambat <span>|</span> <i class="fa fa-phone"></i> +249901726436</p>
          <a href="#" class="result-btn float-right">Details</a>
        </div>
      </div>
  
      <div class="row search-results"> <!--  start the results -->
        <div class="col-lg-2 col-md-2 col-sm-12">
          <img src="assets/dist/images/sp-logo.png" alt="sp logo" class="sp-logo">
          <p class="price-lable text-center">80,000 SDG</p>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12">
          <h5><a href="#">New Star Wedding Hall </a></h5>
          <p class="ratting"> Ratting 
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star marked"></i>
          <i class="fa fa-star"></i>
          <span>4/5</span>
          </p>
          <p class="mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard </p>
          <i class="fa fa-tag"></i> <a href="#">Wedding Halls</a>
          <p><i class="fa fa-map"></i> Khartoum, Bahry, Shambat <span>|</span> <i class="fa fa-phone"></i> +249901726436</p>
          <a href="#" class="result-btn float-right">Details</a>
        </div>
      </div>
  
    </div>
  </div>
  </div>
  </div>
  <!-- End Hot offer section -->
  
  
  <!-- Start why choose farah section -->
  <div class="why-us">
    <div class="container text-center">
      <h3 class="mb-3">Why Choose Farah?</h3>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6">
        <img src="assets/dist/images/easy.png" alt="easy">
        <h5>Easy to use</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias voluptatibus.</p>
  
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-6">
        <img src="assets/dist/images/offers.png" alt="offers">
        <h5>Hot offers</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias voluptatibus.</p>
  
      </div>
  
      <div class="col-lg-4 col-md-4 col-sm-6">
        <img src="assets/dist/images/confidance.png" alt="confidance">
        <h5>Easy to use</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias voluptatibus.</p>
      </div>
    </div>
  </div>
  </div>
  <!-- End choose farah section -->

<app-footer>

</app-footer>