<app-dheader>

</app-dheader>


    <!-- Statistics -->
    <div class="container ">
        <div class="row the-statistics mt-5">
            <div class="col-12">
                <h5 class="mb-2">Statistics</h5>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 sed-users">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-users"></i>
                        <span class="sed-divider"></span>
                    </div>
                    <div class="col-6 text-center">
                        <h6>Clients</h6>
                        <h6>336</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 sed-calendar">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-calendar"></i>
                        <span class="sed-divider"></span>
                    </div>
                    <div class="col-6 text-center">
                        <h6>Booking</h6>
                        <h6>336</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 sed-comment">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-comment"></i>
                        <span class="sed-divider"></span>
                    </div>
                    <div class="col-6 text-center">
                        <h6>Reviews</h6>
                        <h6>336</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 sed-eye">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-eye"></i>
                        <span class="sed-divider"></span>
                    </div>
                    <div class="col-6 text-center">
                        <h6>Views</h6>
                        <h6>336</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12 sed-phone">
                <div class="row">
                    <div class="col-6">
                        <i class="fa fa-phone"></i>
                        <span class="sed-divider"></span>
                    </div>
                    <div class="col-6 text-center">
                        <h6>Calls</h6>
                        <h6>336</h6>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Week reservations -->
    <div class="container ">
        <div class="row  mt-5">
            <div class="col-12">
                <h5 class="mb-3">Week Reservations</h5>
            </div>
            <div class="col-12 the-calendar">
                <full-calendar defaultView="dayGridMonth" [plugins]="calendarPlugins">

                </full-calendar>
            </div>
        </div>
    </div>


