
    <link rel="stylesheet" href="assets/dist/css/main2.css">

    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <a href="index.html"><img src="assets/dist/images/logo.png" alt="logo" class="img-logo"></a>
                </div>
                <div class="col-6">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <select id="my-select" class="custom-select" name="my-services">
                                    <option value="0">Wedding halls</option>
                                    <option value="1">Wedding Cars</option>
                                    <option value="2">OutDoor Photography</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <select id="my-select" class="custom-select" name="my-services">
                                    <option value="0">Golden hall - Burri branch</option>
                                    <option value="1">Golden hall - Matar street branch</option>
                                </select>
                            </div>
                            <a href="../index.html" class="btn-website"> Go to website <i class="fa fa-forward"></i></a>
                        </div>
                    </form>
                </div>

                <!-- Language switching -->
                <div class="col-1">
                    <a class="language-switcher" href="#"> <img src="assets/dist/images/ar.png" alt="arabic language"> عربي
                    </a>
                </div>
                <!-- Notification -->
                <div class="col-1">
                    <span class="sed-divider2"></span>

                    <ul class="navbar-nav mr-auto notifications text-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle sed-notification" href="#" id="navbarDropdown"
                                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-bell"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Somthing happend at this time</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Somthing happend at this time</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Somthing happend at this time</a>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Account -->
                <div class="col-2 sed-topbar">
                    <span class="sed-divider2"></span>
                    <ul class="navbar-nav mr-auto account">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="assets/dist/images/pofile.png" class="rounded-circle profile-pic"
                                    alt="my-profile"> Mohamed Sed
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#signin">Sign in</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#signup">Sign up</a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg  bg-farah">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#"><i class="fa fa-th"></i> Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-calendar"></i> Booking </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-users"></i> Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-copy"></i> Reports</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-user"></i> Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
