
<!-- Start why choose farah section -->
<div class="why-us">
  <div class="container text-center">
    <h3 class="mb-3">{{'Why Choose Farah?' | translate}}</h3>
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/dist/images/easy.png" alt="easy">
      <h5>{{'Easy to use' | translate}}</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias voluptatibus.</p>
  
    </div>
  
    <div class="col-lg-4">
      <img src="assets/dist/images/offers.png" alt="offers">
      <h5>{{'Hot offers' | translate}}</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias voluptatibus.</p>
  
    </div>
  
    <div class="col-lg-4">
      <img src="assets/dist/images/confidance.png" alt="confidance">
      <h5>{{'Easy to use' | translate}}</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias voluptatibus.</p>
    </div>
  </div>
  </div>
  </div>
  <!-- End choose farah section -->
  
<!-- start footer section  -->
<div class="footer">
    <div class="container">
    <div class="row">
      <div class="col-lg-3"> <!-- light logo -->
        <img src="assets/dist/images/logo-light.png" alt="logo">
      </div>
    
    <div class="col-lg-3"> <!-- About Farah -->
     <h5 class="mb-2"> {{'About farah' | translate}} </h5>
     <ul class="about-footer">
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
       <li><a href="#">lorem upsom</a></li>
     </ul>
    </div>
    
    <div class="col-lg-3"> <!-- Hot links in Farah -->
      <h5 class="mb-2"> {{'Hot links' | translate}} </h5>
      <ul class="hot-footer">
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
        <li><a href="#">lorem upsom</a></li>
      </ul>
     </div>
    
     <div class="col-lg-3"> <!-- Newsletter -->
      <h5 class="mb-2"> {{'Newsletter' | translate}} </h5>
      <p>{{'Subscribe to receive the latest offers and news from Farah'  | translate}}"</p>
      <form action="#" method="post">
        <input type="email" name="sb-email" id="#" required="true" />
      <input type="submit" value="{{'Subscribe'  | translate}}" />
      </form>
     </div>
    
    </div>
    </div>
    </div>
    
    <!-- sub footer -->
    <div class="sub-footer mt-3 mb-3">
      <p class="text-center">{{'All right reserved , Farah LTE' | translate}} 2020 ©</p>
    </div>
    <!-- end footer section -->